.grid,
.pokedexGrid {
  display: grid;
  width: 100%;
  max-width: var(--max-width);
  gap: var(--grid-gap);
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, calc(50% - 12px));
  }
}

@media (min-width: 600px) {
  .pokedexGrid {
    grid-template-columns: repeat(2, calc(50% - 12px));
  }
}
@media (min-width: 1000px) {
  .pokedexGrid {
    grid-template-columns: repeat(3, calc(33% - 12px));
    max-width: 1300px;
  }
}
