.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 50vw;
    max-width: var(--max-width);
  }
}

.type_badge {
  padding: 1rem;
  background-color: rgb(0, 155, 207);
  border-radius: var(--border-radius);
  margin: 10px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.titles span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type_list {
  display: flex;
  flex-wrap: wrap;
}

.titles h2 {
  margin-bottom: 1rem;
}

.image {
  position: relative;
  align-self: center;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: var(--border-radius);
}

.content {
  margin: 1rem;
}

.stat_block {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-gap: 24px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--text);
  padding: 1rem;
}

.stat_block p {
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
}
